@model Vidly.ViewsModels.TeamLoginViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Create login for</h2>
<h1>@Model.TeamName</h1>
@using (Html.BeginForm("CreateOwner", "Teams"))
{
    @Html.ValidationSummary()



    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    @Html.HiddenFor(m => m.TeamName)
    @Html.HiddenFor(m => m.TeamId)

    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>


}
