@model Vidly.ViewsModels.EditTeamViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "Teams"))
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.Team.Name)
        @Html.TextBoxFor(m => m.Team.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Team.Name)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Team.Email)
        @Html.TextBoxFor(m => m.Team.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Team.Email)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Team.Password)
        @Html.TextBoxFor(m => m.Team.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Team.Password)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Team.Coach)
        @Html.TextBoxFor(m => m.Team.Coach, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Team.Note)
        @Html.TextAreaFor(m => m.Team.Note, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Team.Note)

    </div>

     <div class="form-group">
         @Html.LabelFor(m => m.Team.CategoryId)
         @Html.DropDownListFor(m => m.Team.CategoryId, new SelectList(Model.Categories, "Id", "Name"), new { @class = "form-control" })
         @Html.ValidationMessageFor(m => m.Team.CategoryId)
    
     </div>

    @Html.HiddenFor(m => m.Team.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>


}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}